[Unit]
Description=Node.js Server

[Service]
User=root
Group=root
ExecStart=/usr/bin/nodemon /root/home/pi/ap-webui-test-master/server/server.js
Restart=always
RestartSec=10
 # Restart service after 10 seconds if node service crashes
# Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-Lee
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
